# 야구기록

In [6]:
import pandas as pd

url = 'https://sports.news.naver.com/kbaseball/record/index?category=kbo&year=2017'
df = pd.read_html(url)
df[2]

,타율 순위,타점 순위,홈런 순위,도루 순위
0,선수 페이지 1 김선빈 KIA 0.370 2 박건우 두산 0.366 ...,선수 페이지 1 러프 삼성 124 2 최형우 KIA 120 3 김...,선수 페이지 1 최정 SK 46 2 로사리오 한화 37 3 김재환...,선수 페이지 1 박해민 삼성 40 2 버나디나 KIA 32 3 손...