In [ ]:
import pandas as pd

df = pd.read_csv('assets/titanic.csv')

df['isAlone'] = ((df['SibSp'] == 0) & (df['Parch'] == 0)).map({True: 1, False: 0})
df['Alone'] = ((df['SibSp'] == 0) & (df['Parch'] == 0)).map({True: 'yes', False: 'no'})
df['class'] = (df['Pclass']).map({3 : 'third', 2 : 'second', 1 : 'first'})
df['isAdultMale'] = ((df['Sex'] == 'male') & (df['Age'] > 18)).map({True: 1, False: 0})

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isAlone,Alone,class,isAdultMale
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,no,third,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,no,first,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,yes,third,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,no,first,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,yes,third,1

In [7]:
import pandas as pd

df = pd.read_csv('assets/titanic.csv')

c1_mean_fare = df[df['Pclass'] == 1]['Fare'].mean()
c2_mean_fare = df[df['Pclass'] == 2]['Fare'].mean()
c3_mean_fare = df[df['Pclass'] == 3]['Fare'].mean()
print(f'first : {c1_mean_fare} \n second : {c2_mean_fare} \n third : {c3_mean_fare}')

adult_male_survive = (df[(df['Sex'] == 'male') & (df['Age'] > 18)].sum()) / df.count()
print(adult_male_survive)

first : 84.1546875
 second : 20.662183152173913
 third : 13.675550101832993

TypeError: unsupported operand type(s) for +: 'int' and 'str'