In [2]:
import numpy as np
import pandas as pd
import scipy.stats as stats

df_boy_wh = pd.read_excel('../assets/고등학생_남자_키와 몸무게.xlsx')

In [8]:
hmean = np.mean(df_boy_wh['height'])
havg = np.average(df_boy_wh['height'])
havg = np.average(df_boy_wh['height'], weights=df_boy_wh['weight'])
hmed = np.median(df_boy_wh['height'])
hmode = stats.mode(df_boy_wh['height'])

print(f"키 평균: {hmean:.2f}, 가중 평균: {havg:.2f}, 중앙값: {hmed}, 최빈값: {hmode}")

키 평균: 173.36, 가중 평균: 173.85, 중앙값: 173.3, 최빈값: ModeResult(mode=170.0, count=289)

In [11]:
df_foodcost = pd.read_excel("../assets/외식비.xlsx")

(df_foodcost.drop(columns='지역').max(axis=0) - df_foodcost.drop(columns='지역').min(axis=0)).rename('범위')

냉면      2088
비빔밥     1823
김치찌개    1569
삼겹살     4234
자장면      857
삼계탕     2314
칼국수     2179
김밥       764
Name: 범위, dtype: int64

In [12]:
(df_foodcost.drop(columns='지역').std(axis=0)).rename('표준편차')

냉면       570.215950
비빔밥      640.063122
김치찌개     383.691277
삼겹살     1196.184599
자장면      295.658805
삼계탕      681.856766
칼국수      629.150615
김밥       208.422608
Name: 표준편차, dtype: float64

In [13]:
(df_foodcost.drop(columns='지역').var(axis=0)).rename('분산')

냉면      3.251462e+05
비빔밥     4.096808e+05
김치찌개    1.472190e+05
삼겹살     1.430858e+06
자장면     8.741413e+04
삼계탕     4.649286e+05
칼국수     3.958305e+05
김밥      4.343998e+04
Name: 분산, dtype: float64

In [14]:
(df_foodcost.drop(columns='지역').quantile([0.25,0.5,0.75]))

           냉면      비빔밥     김치찌개       삼겹살      자장면       삼계탕     칼국수      김밥
0.25  8300.00  7792.25  6710.50  14036.00  5266.25  13169.25  6452.0  2411.0
0.50  8500.00  8072.00  7133.50  14881.50  5550.00  14148.50  7216.5  2569.0
0.75  8922.75  8787.50  7217.25  15538.75  5723.25  14308.25  7425.0  2733.5