In [2]:
import pandas as pd
url = 'https://sports.news.naver.com/kbaseball/record/index?category=kbo&year=2025'
kbo_tb = pd.read_html(url)

In [ ]:
print(f"표의 수 :{len(kbo_tb)}\n자료형:{type(kbo_tb)}")
print(kbo_tb[2]['타율 순위'])

표의 수 :6
자료형:<class 'list'>
0    선수 페이지  1  위즈덤  KIA  8  2  노시환  한화  6  3  디아즈 ...
Name: 홈런 순위, dtype: object

In [ ]:
url_offset = 'https://sports.news.naver.com/kbaseball/record/index?category=kbo&year='
years = [2011,2017,2025] # 롯데가 그나마 잘하던 해
df_bb = pd.DataFrame()

for y in years:
    kbo_df = pd.read_html(url_offset+str(y))[0]
    kbo_df['year'] = y
    df_bb = pd.concat([df_bb,kbo_df], ignore_index=True)
df_bb= df_bb[df_bb['순위'] == 1]

import sys
df_bb.to_csv(sys.stdout, sep='|')


contents_col = ['순위', '팀', '승', '패', '무', '승률', 'year']
winner_df = df_bb[contents_col][df_bb['순위'] == 1].set_index('팀')

winner_df

|순위|팀|경기수|승|패|무|승률|게임차|연속|출루율|장타율|최근 10경기|year
0|1|삼성|133|79|50|4|0.612|0.0|1승|0.343|0.376|6승-3패-1무|2011
8|1|KIA|144|87|56|1|0.608|0.0|2승|0.37|0.469|6승-4패-0무|2017
18|1|LG|21|17|4|0|0.81|0.0|1승|0.378|0.425|7승-3패-0무|2025

     순위   승   패  무     승률  year
팀
삼성    1  79  50  4  0.612  2011
KIA   1  87  56  1  0.608  2017
LG    1  17   4  0  0.810  2025

In [ ]:
import csv

f = open('out.csv')
header = next(data)
for row in data:
    print(row)
f.close()

['0', '1', '삼성', '133', '79', '50', '4', '0.612', '0.0', '1승', '0.343', '0.376', '6승-3패-1무', '2011']
['8', '1', 'KIA', '144', '87', '56', '1', '0.608', '0.0', '2승', '0.37', '0.469', '6승-4패-0무', '2017']
['18', '1', 'LG', '21', '17', '4', '0', '0.81', '0.0', '1승', '0.378', '0.425', '7승-3패-0무', '2025']